html {
    font-family: $font-family;
}

hr {
    border: none;
    height: 1px;
    color: var(--text-color);
    background-color: var(--text-color);

    // Credits: https://css-tricks.com/simple-styles-for-horizontal-rules/
    &.ruler-decorated {
        text-align: center;
        margin: 0.85rem 0;

        &:after {
            content: "✻";
            display: inline-block;
            position: relative;
            top: -0.6rem;
            font-size: 0.85rem;
            padding: 0 0.25rem;
            background: var(--bg-color);
        }
    }
}

a {
    @include transition(color .2s ease-out);
    color: var(--text-color);

    &:hover {
        color: var(--hover-color);
    }
}

.page {
    background-color: var(--bg-color);
    color: var(--text-color);

    min-height: calc(100vh - 4rem);

    padding: 2rem;
}

.l-box {
    padding: 0.5rem;
}

.button-primary,
.button-secondary, {
    background-color: var(--green);
    color: white;

    border-radius: 0.25rem;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

    &:hover {
        color: var(--white);
    }
}

.button-secondary {
    background-color: var(--teal);
}

.button-block {
    display: block;
}

.card {
    border: 1px solid var(--text-color-o20);
    border-radius: 0.25rem;
    box-shadow: 0 0 0.5em 0 var(--text-color-o20);

    margin: 0.5rem 0 1.5rem 0;

    .card--header,
    .card--body {
        padding: 0.625rem;
    }

    .card--header {
        border-bottom: 1px solid var(--text-color-o20);

        .card--header--icon {
            line-height: 1.25rem;
            width: 1.25rem;

            text-align: center;
        }
    }
}

.fs-80 {
    font-size: 0.8rem;
}