.introduction {
  @include mq-lg() {
    min-height: 75vh;
  }

  &__portrait {
    text-align: center;

    @include mq-lg() {
      text-align: end;
    }

    &__image {
      box-sizing: border-box;
      border-radius: 50%;
      border: 10px solid var(--secondary-color);

      @include mq-lg()  {
        margin: 2rem 3rem;
      }

      width: 100%;
      height: auto;
      max-width: 300px;
      max-height: 300px;
    }
  }

  .introduction--header {
    line-height: 1.1;
  }

  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2rem;
  }

  &__links {
    font-size: 1.075rem;
    margin-top: 2.5rem;

    a {
      margin-right: 0.5rem;
      text-decoration: none;
    }
  }
}