.introduction {
  background: var(--introduction-bg);

  margin: 0 -2rem 0 -2rem;
  padding: 2rem;

  border-top: .125rem solid var(--secondary-color-o20);
  border-bottom: .125rem solid var(--secondary-color-o20);

  @include mq-lg() {
    border: none;
    border-radius: 1rem;
    margin: 0;
  }

  &__portrait {
    text-align: center;

    @include mq-lg() {
      text-align: end;
    }

    &__image {
      box-sizing: border-box;
      border-radius: 50%;
      border: 5px solid var(--secondary-color);

      width: 100%;
      height: auto;
      max-width: 200px;
      max-height: 200px;

      @include mq-lg() {
        border: 10px solid var(--secondary-color);
        margin: 2rem 3rem;
        max-width: 300px;
        max-height: 300px;
      }
    }
  }

  &__links {
    font-size: 1.075rem;
    margin-top: 2.5rem;

    a {
      margin-right: 0.5rem;
      text-decoration: none;
    }
  }
}