main {

    margin: 0 auto;
    max-width: 64em;

    .introduction-u {
        text-align: center;

        @media screen and (min-width: 64em) {
            text-align: end;
        }
    }

    .introduction {
        h1 {
            font-size: 4rem;
            line-height: 1.1;
        }
        h2 {
            font-size: 2rem;
            line-height: 1.1;
        }

        @media screen and (min-width: 64em) {
            margin-top: 20vh;
            min-height: calc(100vh - 20vh);
        }
    }

    .content {
        font-family: $font-family-content;
        font-size: 1.075rem;
        font-style: normal;
        font-weight: normal;
        line-height: 1.6;

        h1, h2, h3, h4, h5, h6 {
            line-height: 1.2;
            margin-top: 1rem;
        }
    }

    .links {
        font-size: 1.075rem;
        margin-top: 2.5rem;

        a {
            margin-right: 0.5rem;
            text-decoration: none;
        }
    }

    .portrait-img {
        box-sizing: border-box;
        border-radius: 50%;
        border: 10px solid var(--text-color);

        @media screen and (min-width: 64em) {
            margin: 2rem 3rem;
        }

        width: 100%;
        height: auto;
        max-width: 300px;
        max-height: 300px;
    }

    .cover-u {
        text-align: center;
    }

    .single-cover-u {

        @media screen and (min-width: 64em) {
            text-align: end;
        }

        img {
            border: 1px solid var(--text-color);
            border-radius: 1rem;
            margin: 0 3rem;
            padding: 0.5rem;
        }
    }

    .excerpt-source {
        word-wrap: break-word;
    }
}

footer {
    font-family: $font-family-content;
    font-size: 0.75rem;
    margin-top: 1rem;
}