@mixin transition($args...) {
    -webkit-transition: $args;
       -moz-transition: $args;
         -o-transition: $args;
            transition: $args;
}

// Pure.css grid media query mixins. See https://purecss.io/grids/.
@mixin mq-sm() { // ≥ 568px
  @media screen and (min-width: 35.5em) {
    @content;
  }
}
@mixin mq-md() { // ≥ 768px
  @media screen and (min-width: 48em) {
    @content;
  }
}
@mixin mq-lg() { // ≥ 1024px
  @media screen and (min-width: 64em) {
    @content;
  }
}
@mixin mq-xl() { // ≥ 1280px
  @media screen and (min-width: 80em) {
    @content;
  }
}
@mixin mq-xxl() { // ≥ 1920px
  @media screen and (min-width: 120em) {
    @content;
  }
}
@mixin mq-xxxl() { // ≥ 2560px
  @media screen and (min-width: 160em) {
    @content;
  }
}
@mixin mq-x4k() { // ≥ 3840px
  @media screen and (min-width: 240em) {
    @content;
  }
}

// Pointer device media query mixins.
@mixin mq-touch() {
  @media (pointer: coarse) { // The input mechanism of the device includes a pointing device of limited accuracy.
    @content;
  }
}
@mixin mq-mouse() {
  @media (pointer: fine) { // The input mechanism of the device includes an accurate pointing device.
    @content;
  }
}

// Styles for ribbons over cover figures
@mixin ribbon($color) {
  --d: .25rem; // folded part
  --c: #{rgba($color, .75)}; // color
  --f: .85rem; // ribbon font-size

  position: relative;

  &.ribbon::before {
    content: attr(data-ribbon) !important;

    position: absolute;
    top: 0;
    left: 0;
    right: auto;

    transform: translate(-29.29%, -100%) rotate(-45deg);
    transform-origin: bottom right;

    font-size: var(--f);

    text-align: center;

    color: $white;

    border: 1px solid transparent;
    border-bottom: 0;

    padding: .5rem 2rem calc(var(--d) + .5rem);

    background: linear-gradient(rgba(0, 0, 0, 0.5) 0 0) bottom/100% var(--d) no-repeat var(--c);
    background-clip: padding-box;
    clip-path: polygon(
                    0 0,
                    100% 0,
                    100% 100%,
                    calc(100% - var(--d)) calc(100% - var(--d)),
                    var(--d) calc(100% - var(--d)),
                    0 100%
    );
    -webkit-mask: linear-gradient(
                    135deg, transparent calc(50% - var(--d) * 0.707),
                    #fff 0
    ) bottom left,
    linear-gradient(
                    -135deg, transparent calc(50% - var(--d) * 0.707),
                    #fff 0
    ) bottom right;
    -webkit-mask-size: 300vmax 300vmax;
    -webkit-mask-composite: destination-in;
    mask-composite: intersect;

    // Added, because switching to dark mode otherwise "hides" the ribbon 🤷.
    z-index: 1;
  }
}