.navigation {
  position: sticky;
  top: 0;

  background-color: var(--primary-color-o20);

  backdrop-filter: blur(.5rem);
  -webkit-backdrop-filter: blur(.5rem);

  display: flex;
  align-items: center;
  flex-wrap: wrap;

  z-index: 700;

  padding: 2rem 2rem 1rem 2rem;
  margin: 0 -2rem .5rem -2rem;

  .menu, .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;

    z-index: inherit;
  }

  .menu {
    display: flex;
    flex-direction: column;

    a {
      display: block;
    }

    @include mq-xl() {
      flex-direction: row;
      gap: 1rem;

      .menu__item--mobile-only {
        display: none;
      }

      ul {
        display: none;

        position: absolute;
        top: calc(100% - 2.5rem);

        border: 1px solid var(--secondary-color-o20);
        padding: .5rem;
        border-radius: .5rem;
        box-shadow: rgba(43, 42, 51, 0.1) 0 1px 6px 0;
      }

      li:hover {
        ul {
          display: block;
          background-color: var(--closest-primary-color);

          a {
            box-sizing: border-box;
            padding: .5rem .75rem;
          }
        }
      }
    }

    &__item {
      border-top: 1px dotted var(--secondary-color-o20);

      @include mq-lg() {
        border: none;
      }

      &:last-of-type {
        border-top: none;
      }

      .menu__item {
        border: none;
      }
    }

    &__item--collapsed {
      button {
        font-style: italic;

        border: none;
        display: block;
        width: 100%;
        height: 100%;
        text-align: left;
        padding: 0;
        background: none;

        //background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20448%20512%22%3E%3C%21--%21Font%20Awesome%20Free%206.5.1%20by%20%40fontawesome%20-%20https%3A%2F%2Ffontawesome.com%20License%20-%20https%3A%2F%2Ffontawesome.com%2Flicense%2Ffree%20Copyright%202024%20Fonticons%2C%20Inc.--%3E%3Cpath%20d%3D%22M201.4%20342.6c12.5%2012.5%2032.8%2012.5%2045.3%200l160-160c12.5-12.5%2012.5-32.8%200-45.3s-32.8-12.5-45.3%200L224%20274.7%2086.6%20137.4c-12.5-12.5-32.8-12.5-45.3%200s-12.5%2032.8%200%2045.3l160%20160z%22%2F%3E%3C%2Fsvg%3E") right center/1.5rem no-repeat;

        &:active {
          //background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20448%20512%22%3E%3C%21--%21Font%20Awesome%20Free%206.5.1%20by%20%40fontawesome%20-%20https%3A%2F%2Ffontawesome.com%20License%20-%20https%3A%2F%2Ffontawesome.com%2Flicense%2Ffree%20Copyright%202024%20Fonticons%2C%20Inc.--%3E%3Cpath%20d%3D%22M201.4%20137.4c12.5-12.5%2032.8-12.5%2045.3%200l160%20160c12.5%2012.5%2012.5%2032.8%200%2045.3s-32.8%2012.5-45.3%200L224%20205.3%2086.6%20342.6c-12.5%2012.5-32.8%2012.5-45.3%200s-12.5-32.8%200-45.3l160-160z%22%2F%3E%3C%2Fsvg%3E");
        }

        @include mq-xl() {
          background: none;

          &:active {
            background: none;
          }
        }
      }

      ul {
        //display: none;
      }
    }

    &__item--toc {
      order: -1;

      padding: .75rem;

      @include mq-lg() {
        padding: 0;
      }

      @include mq-xl() {
        order: unset;
      }
    }
  }

  &__wrap {
    &--logo {
      margin-right: auto;
      width: 80px;

      @include mq-xl() {
        margin: unset;
      }

      img {
        border-radius: 2rem;
      }
    }

    &--main {
      display: none; // Hidden for mobile-first display.
      z-index: inherit;

      &[data-open="true"] {
        display: block;
        order: 3;
        flex: 100%;

        nav {
          background-color: var(--closest-primary-color);

          padding: 1rem 1.25rem 0 1.25rem;
          margin-top: .5rem;

          border-top: 1px solid var(--secondary-color-o20);
          border-bottom: 1px solid var(--secondary-color-o20);

          .menu {
            li {
              a {
                padding: .75rem;
              }

              ul a {
                padding-left: 1.5rem;
              }
            }
          }
        }
      }
      @include mq-xl() {
        display: block;
        margin-right: auto;
      }
    }

    .menu--tools {
      flex-direction: row;
      gap: 1.5rem;

      order: 2;

      @include mq-xl() {
        order: 3;
      }
    }
  }
}