.navigation {
  position: sticky;
  top: 0;

  background-color: var(--primary-color-o20);

  backdrop-filter: blur(.5rem);
  -webkit-backdrop-filter: blur(.5rem);

  display: flex;
  align-items: center;
  flex-wrap: wrap;

  z-index: 700;

  padding: 1rem 2rem 0.5rem 2rem;
  @include mq-md() {
    padding: 2rem 2rem 1rem 2rem;
  }

  margin: 0 -2rem .5rem -2rem;

  .menu, .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;

    z-index: inherit;
  }

  .menu {
    display: flex;
    flex-direction: column;

    a {
      display: block;
    }

    @include mq-xl() {
      flex-direction: row;
      gap: 1rem;

      .menu__item--mobile-only {
        display: none;
      }

      ul {
        display: none;

        position: absolute;
        top: calc(100% - 2.5rem);

        border: 1px solid var(--secondary-color-o20);
        padding: .5rem;
        border-radius: .5rem;
        box-shadow: rgba(43, 42, 51, 0.1) 0 1px 6px 0;
      }

      li:hover {
        ul {
          display: block;
          background-color: var(--closest-primary-color);

          a {
            box-sizing: border-box;
            padding: .5rem .75rem;
          }
        }
      }
    }

    &__item {
      border-top: 1px dotted var(--secondary-color-o20);

      @include mq-lg() {
        border: none;
      }

      &:last-of-type {
        border-top: none;
      }

      .menu__item {
        border: none;
      }
    }
  }

  &__wrap {
    &--logo {
      margin-right: auto;
      width: 80px;

      @include mq-xl() {
        margin: unset;
      }

      img {
        border-radius: 2rem;

        width: 40px;
        height: 40px;

        @include mq-md() {
          width: 64px;
          height: 64px;
        }
      }
    }

    &--main {
      display: none; // Hidden for mobile-first display.
      z-index: inherit;

      &[data-open="true"] {
        display: block;
        order: 3;
        flex: 100%;

        nav {
          background-color: var(--closest-primary-color);

          padding: 1rem 1.25rem 0 1.25rem;
          margin-top: .5rem;

          border-top: 1px solid var(--secondary-color-o20);
          border-bottom: 1px solid var(--secondary-color-o20);

          .menu {
            li {
              a {
                padding: .75rem;
              }

              ul a {
                padding-left: 1.5rem;
              }
            }
          }
        }
      }
      @include mq-xl() {
        display: block;
        margin-right: auto;
      }
    }

    .menu--tools {
      flex-direction: row;
      gap: 1.5rem;

      order: 2;

      @include mq-xl() {
        order: 3;
      }

      i.fas {
        @include mq-md() {
          font-size: 1.3rem;
        }
      }
    }
  }
}

.menu--toc {
  ul {
    list-style: none;
    margin: unset;
    padding: 1rem .5rem;

    display: flex;
    gap: .5rem;
    overflow-x: scroll;

    li {
      a {
        white-space: nowrap;
        padding: .25rem .75rem;

        border-radius: 1rem;
      }
    }
  }
}