// Source: https://moderncss.dev/pure-css-smooth-scroll-back-to-top/

// Smooth scrolling IF user doesn't have a preference due to motion sensitivities
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

main {
  position: relative;
}

.back-to-top-wrapper {
  // uncomment to visualize "track"
  // outline: 1px solid red;

  position: absolute;
  top: 150vh;
  right: 0;
  bottom: 0;

  pointer-events: none;

  .back-to-top-link {
    color: var(--bg-color);
    background: var(--text-color);
    border-radius: 50%;
    box-shadow: 0 0 0.5em 0 var(--bg-color);

    display: inline-block;
    width: 2.75rem;
    height: 2.75rem;

    line-height: 2.75rem;

    // `fixed` is fallback
    position: fixed;
    // preferred positioning, requires prefixing for most support, and not supported on Safari
    // @link https://caniuse.com/#search=position%3A%20sticky
    position: sticky;
    // reinstate clicks
    pointer-events: all;
    // achieves desired positioning within the viewport
    // relative to the top of the viewport once `sticky` takes over, or always if `fixed` fallback is used
    top: calc(100vh - (2.75rem * 2));

    i {
      width: 100%;
      text-align: center;
    }
  }
}