#theme-switch {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);

  ~ .page {
    label[for="theme-switch"] {
      cursor: pointer;
      position: absolute;
      right: 1rem;
      top: 1rem;

      &:hover {
        color: var(--accent-color);
      }
    }
  }

  &:checked ~ .page {
    --primary-color: var(--dark-primary-color);
    --secondary-color: var(--dark-secondary-color);
    --accent-color: var(--dark-accent-color);

    --primary-color-o20: var(--dark-primary-color-o20);
    --secondary-color-o20: var(--dark-secondary-color-o20);

    img {
      filter: brightness(.8) contrast(1.2);
    }
  }
}