#theme-switch {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);

  ~ .page {
    label[for="theme-switch"] {
      cursor: pointer;
      position: absolute;
      right: 1rem;
      top: 1rem;

      &:hover {
        color: var(--hover-color);
      }

      .fa-moon {
        position: unset !important;
        height: unset;
        width: unset;
        overflow: unset;
        clip: unset;
      }
      .fa-sun {
        position: absolute !important;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px);
      }
    }
  }

  &:checked ~ .page {
    --text-color: var(--dark-text);
    --text-color-o20: var(--dark-text-o20);
    --bg-color: var(--dark-bg);
    --bg-color-o20: var(--dark-bg-o20);
    --hover-color: var(--dark-hover);

    label[for="theme-switch"] {
      .fa-moon {
        position: absolute !important;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px);
      }
      .fa-sun {
        position: unset !important;
        height: unset;
        width: unset;
        overflow: unset;
        clip: unset;
      }
    }
  }
}