#theme-switch {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);

  ~ .page {
    label[for="theme-switch"] {
      cursor: pointer;

      &:hover {
        color: var(--accent-color);
      }
    }
  }

  &:checked ~ .page {
    --primary-color: var(--dark-primary-color);
    --secondary-color: var(--dark-secondary-color);
    --accent-color: var(--dark-accent-color);

    --primary-color-o20: var(--dark-primary-color-o20);
    --secondary-color-o20: var(--dark-secondary-color-o20);

    --closest-primary-color: var(--dark-closest-primary-color);
    --closest-secondary-color: var(--dark-closest-secondary-color);

    --introduction-bg: var(--dark-introduction-bg);

    img:not(.logo) {
      filter: brightness(.8) contrast(1.2);
    }
  }

  @media (prefers-color-scheme: dark) {
    & ~ .page {
      --primary-color: var(--dark-primary-color);
      --secondary-color: var(--dark-secondary-color);
      --accent-color: var(--dark-accent-color);

      --primary-color-o20: var(--dark-primary-color-o20);
      --secondary-color-o20: var(--dark-secondary-color-o20);

      --closest-primary-color: var(--dark-closest-primary-color);
      --closest-secondary-color: var(--dark-closest-secondary-color);

      --introduction-bg: var(--dark-introduction-bg);

      img {
        filter: brightness(.8) contrast(1.2);
      }
    }
    &:checked ~ .page {
      --primary-color: var(--light-primary-color);
      --secondary-color: var(--light-secondary-color);
      --accent-color: var(--light-accent-color);

      --primary-color-o20: var(--light-primary-color-o20);
      --secondary-color-o20: var(--light-secondary-color-o20);

      --closest-primary-color: var(--light-closest-primary-color);
      --closest-secondary-color: var(--light-closest-secondary-color);

      --introduction-bg: var(--light-introduction-bg);

      img {
        filter: unset;
      }
    }
  }
}