@mixin transition($args...) {
    -webkit-transition: $args;
       -moz-transition: $args;
            transition: $args;
}

$font-family: Montserrat, 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
$font-family-content: 'Merriweather', Cambria, Georgia, Times, 'Times New Roman', serif;