.control-group--awesomplete {
  background-color: var(--primary-color);

  border-radius: 0.25em;
  box-shadow: 0 0 .5em var(--secondary-color-o20);

  // Collapse whitespace input and button controls.
  letter-spacing: -0.27rem;

  margin-block-start: 1rem;

  input, button {
    // Remove default border and (focus) outlines.
    border: 0;
    outline: 0;

    padding: 0.625rem;
    line-height: 1.5rem;

    @include mq-xl() {
      line-height: 1.25rem;
      padding: 0.5rem;
    }
  }

  input {
    // Remove padding from width.
    width: calc(100% - 6.75rem);

    @include mq-xl() {
      width: calc(100% - 5.5rem);
    }

    background-color: $white;
    border: none;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;

    &[aria-expanded="true"] {
      border-bottom-left-radius: 0;
    }
  }

  button {
    cursor: pointer;

    background-color: var(--secondary-color-o20);
    color: var(--secondary-color);

    width: 2.75rem;
    height: 2.75rem;

    @include mq-xl() {
      width: 2.25rem;
      height: 2.25rem;
    }

    &:active {
      background-color: var(--secondary-color);
      color: var(--primary-color);

      @include transition(color .2s ease-out);
      @include transition(background-color .2s ease-out);
    }

    &.button--last {
      border-top-right-radius: 0.25em;
      border-bottom-right-radius: 0.25em;
    }
  }

  .awesomplete {
    background-color: $white;
    border: none;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;

    // Reset letter spacing from button whitespace clearance.
    letter-spacing: normal;

    // Remove button widths from width.
    width: calc(100% - 5.5rem);

    @include mq-xl() {
      width: calc(100% - 4.5rem);
    }

    input {
      // Remove padding from width.
      width: calc(100% - 1.25rem);

      @include mq-xl() {
        width: calc(100% - 1rem);
      }
    }

    ul {
      box-shadow: 0 0.5em 0.5em 0 var(--secondary-color-o20);

      max-height: 320px;
      overflow-y: scroll;

      li {
        cursor: pointer;

        padding: 0.625rem;

        @include mq-xl() {
          padding: 0.25rem 0.5rem;
        }

        color: ButtonText;

        // Use default OS colors like a default select box.
        &[aria-selected="true"],
        &:hover {
          background-color: AccentColor;
          color: AccentColorText;
        }
      }
    }
  }
}