.dialog {
  border: none;
  border-radius: .5rem;
  color: $sea;

  padding: 1rem;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
  }

  &__content {
    &--centered {
      text-align: center;
    }
  }

  header {
    display: flex;
    gap: 2rem;

    padding-bottom: .5rem;
    border-bottom: 1px solid $teal;
    margin-bottom: .5rem;

    button[value="close"] {
      color: $teal;
      background: none;
      padding: 0;
    }
  }

  &__title {
    margin-bottom: unset !important;
    margin-top: unset !important;
    margin-right: auto;

    text-align: left;
  }

  &__navigation {
    display: flex;
    flex-flow: row wrap;
    gap: .5rem;
    justify-content: center;

    @include mq-md() {
      justify-content: flex-end;
    }

    margin-top: .5rem;
    border-top: 1px solid $teal;
    padding-top: .5rem;
  }
}