.tooltip {
  --tooltip-triange-size: .5rem;

  /* for blink/webkit */
  summary::-webkit-details-marker {
    display: none;
  }
  /* for firefox */
  > summary:first-of-type {
    list-style: none;
  }

  &[open] .tooltip--body {
    animation: animateDown 0.2s linear forwards;

    @keyframes animateDown {
      0% {
        opacity: 0;
        transform: translatey(-15px);
      }
      100% {
        opacity: 1;
        transform: translatey(0);
      }
    }

  }

  .tooltip--body {
    border: 1px solid var(--secondary-color-o20);
    border-radius: .5rem;
    box-shadow: var(--secondary-color-o20) 0 .25rem .5rem;

    background-color: var(--primary-color);
    position: absolute;
    width: calc(100% - (2 * var(--tooltip-triange-size)));
    z-index: 99;

    &:before {
      content: "";
      width: 0;
      height: 0;

      border-left: var(--tooltip-triange-size) solid transparent;
      border-right: var(--tooltip-triange-size) solid transparent;
      border-bottom: var(--tooltip-triange-size) solid var(--secondary-color-o20);

      position: absolute;
      top: calc((-1 * var(--tooltip-triange-size)) - 1px);
      left: calc(50% - calc(var(--tooltip-triange-size) / 2));
    }
  }
}

.tooltip__left-aligned {
  .tooltip--body {
    &:before {
      left: .5rem;
    }
  }
}

.tooltip--icon {
  color: var(--accent-color);
  cursor: pointer;
}