// Based on https://codepen.io/raubaca/pen/bGWmZje
.select-decorated {
  /* Reset */
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  /* Personalize */
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  background:
          var(--select-arrow-icon) no-repeat right 0.75rem center / 0.75rem,
          linear-gradient(to left, var(--select-arrow-bg) 2.25rem, var(--select-bg) 2.25rem);
  color: var(--text-color);
  border-radius: 0.25em;
  box-shadow: 0 0 0.5em 0 var(--select-shadow);
  cursor: pointer;
  /* Remove IE arrow */
  &::-ms-expand {
    display: none;
  }
  /* Remove focus outline */
  &:focus {
    outline: none;
  }
  /* <option> colors */
  option {
    color: inherit;
    background-color: var(--select-option-bg);
  }
}