// Fonts
$sans-serif: Montserrat, 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;

// Responsive breaks
$break-extra-small: 575px;
$break-small: 576px;
$break-medium: 768px;
$break-large: 992px;
$break-extra-large: 1200px;

@mixin transition($args...) {
    -webkit-transition: $args;
       -moz-transition: $args;
            transition: $args;
}

/* Switched mode */
#theme-switch {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);

  ~ #page {
    label[for="theme-switch"] {
      cursor: pointer;
      position: absolute;
      right: 1rem;

      &:hover {
        color: var(--hover-color);
      }

      .fa-moon {
        position: unset !important;
        height: unset;
        width: unset;
        overflow: unset;
        clip: unset;
      }
      .fa-sun {
        position: absolute !important;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px);
      }
    }
  }

  &:checked ~ #page {
    --text-color: var(--dark-text);
    --bg-color: var(--dark-bg);
    --hover-color: var(--dark-hover);

    --select-arrow-bg: var(--dark-select-arrow-bg);
    --select-arrow-icon: var(--dark-select-arrow-icon);
    --select-option-bg: var(--dark-select-option-bg);
    --select-bg: var(--dark-select-bg);

    label[for="theme-switch"] {
      .fa-moon {
        position: absolute !important;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px);
      }
      .fa-sun {
        position: unset !important;
        height: unset;
        width: unset;
        overflow: unset;
        clip: unset;
      }
    }
  }
}