$font-family: Montserrat, 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
$font-family-content: 'Merriweather', Cambria, Georgia, Times, 'Times New Roman', serif;

// Colors from: https://coolors.co/738290-a1b5d8-fffcf7-e4f0d0-c2d8b9
$baby-powder: rgb(255, 252, 247);
$powder-blue: rgb(161, 181, 216);

// Other colors
$sea: rgb(28, 37, 65);

// Colors from Semantic UI: https://semantic-ui.com/usage/theming.html#sitewide-defaults
$green: rgb(33, 186, 69);
$teal: rgb(0, 181, 173);
$yellow: rgb(255, 215, 0);
$blue: rgb(14, 110, 184);

// Common colors
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

:root {
  // Light mode
  --light-primary-color: #{$baby-powder};
  --light-secondary-color: #{$sea};
  --light-accent-color: #{$powder-blue};

  --light-primary-color-o20: #{rgba($baby-powder, 0.2)};
  --light-secondary-color-o20: #{rgba($sea, 0.2)};

  // Dark mode
  --dark-primary-color: #{$sea};
  --dark-secondary-color: #{$baby-powder};
  --dark-accent-color: #{$powder-blue};

  --dark-primary-color-o20: #{rgba($sea, 0.2)};
  --dark-secondary-color-o20: #{rgba($baby-powder, 0.2)};

  // Default mode
  --primary-color: var(--light-primary-color);
  --secondary-color: var(--light-secondary-color);
  --accent-color: var(--light-accent-color);

  --primary-color-o20: var(--light-primary-color-o20);
  --secondary-color-o20: var(--light-secondary-color-o20);
}

@import 'dw/fonts';
@import 'dw/mixins';
@import 'dw/base';
@import 'dw/theme-switch';
@import "dw/homepage";
@import "dw/books";
@import "control-elements/awesomplete";