:root {
  /* Light mode */
  --light-text: {{ .Site.Params.colors.light.foreground | default "#fff" }};
  --light-bg: {{ .Site.Params.colors.light.background | default "#6fcdbd" }};
  --light-hover: {{ .Site.Params.colors.light.hover | default "#333" }};

  --light-select-arrow-bg: rgba(28, 37, 65, 0.3);
  --light-select-arrow-icon: url(/assets/img/caret-down-light.svg);
  --light-select-option-bg: rgb(28, 37, 65);
  --light-select-bg: rgba(28, 37, 65, 0.2);
  --light-select-shadow: rgba(28, 37, 65, 0.2);

  /* Dark mode */
  --dark-text: {{ .Site.Params.colors.dark.foreground | default "#fff" }};
  --dark-bg: {{ .Site.Params.colors.dark.background | default "#6fcdbd" }};
  --dark-hover: {{ .Site.Params.colors.dark.hover | default "#333" }};

  --dark-select-arrow-bg: rgba(255, 252, 247, 0.3);
  --dark-select-arrow-icon: url(/assets/img/caret-down-dark.svg);
  --dark-select-option-bg: rgb(255, 252, 247);
  --dark-select-bg: rgba(255, 252, 247, 0.2);
  --dark-select-shadow: rgba(255, 252, 247, 0.2);

  /* Default mode */
  --text-color: var(--light-text);
  --bg-color: var(--light-bg);
  --hover-color: var(--light-hover);

  --select-arrow-bg: var(--light-select-arrow-bg);
  --select-arrow-icon: var(--light-select-arrow-icon);
  --select-option-bg: var(--light-select-option-bg);
  --select-bg: var(--light-select-bg);
  --select-shadow: var(--light-select-shadow);
}

@import 'dw/variables';
@import 'dw/base';
@import 'dw/layout';
@import "control-elements/select";

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/montserrat-v25-latin/montserrat-v25-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('/fonts/montserrat-v25-latin/montserrat-v25-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/fonts/montserrat-v25-latin/montserrat-v25-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('/fonts/montserrat-v25-latin/montserrat-v25-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('/fonts/montserrat-v25-latin/montserrat-v25-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/fonts/montserrat-v25-latin/montserrat-v25-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/montserrat-v25-latin/montserrat-v25-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('/fonts/montserrat-v25-latin/montserrat-v25-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/fonts/montserrat-v25-latin/montserrat-v25-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('/fonts/montserrat-v25-latin/montserrat-v25-latin-700.woff') format('woff'), /* Modern Browsers */
  url('/fonts/montserrat-v25-latin/montserrat-v25-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/fonts/montserrat-v25-latin/montserrat-v25-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}

hr {
  border: none;
  height: 1px;
  color: var(--text-color);
  background-color: var(--text-color);
}

.book {

  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }

  .cover {
    border: 1px solid var(--text-color);
    border-radius: 1em;
    margin: 0 3em;
    padding: 0.5em;
  }

  .excerpt-source {
    word-wrap: break-word;
  }

  .book__buttons {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}

@media (min-width: 640px) {
  .book {
    .book__buttons {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (min-width: 1024px) {
  .book {
    .book__buttons {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}