{{ define "main" }}
    {{ $topic := .Data.Term }}
    <main>
        {{ partial "breadcrumbs.html" (dict "page" . "showCurrent" "0") }}

        {{ with (where .Pages "Section" "books") }}
        <article class="topic books">
            <h1 id="section-header">Bücher zum Thema „{{ $topic }}“</h1>

            {{ $wishlistBooks := where . "Params.booklists" "intersect" (slice "wishlist") }}
            {{ $favoriteBooks := where . "Params.booklists" "intersect" (slice "favorites") }}
            {{ $completedBooks := where . "Params.booklists" "intersect" (slice "completed") }}
            {{ $unreadBooks := where . "Params.booklists" "intersect" (slice "unread") }}

            <ul>
                {{ with $wishlistBooks }}
                <li><a href="#books-in-wishlist">Wunschliste</a>: {{ T "book_with_count" .Len }}</li>
                {{ end }}
                {{ with $favoriteBooks }}
                <li><a href="#favorite-books">Lieblingsbücher</a>: {{ T "book_with_count" .Len }}</li>
                {{ end }}
                {{ with $completedBooks }}
                <li><a href="#completed-books">Abgeschlossen</a>: {{T "book_with_count" .Len }}</li>
                {{ end }}
                {{ with $unreadBooks }}
                <li><a href="#unread-books">Ungelesen</a>: {{T "book_with_count" .Len }}</li>
                {{ end }}
            </ul>

            {{ with $wishlistBooks }}
            <hr class="separator separator--decorated">

            <nav class="books__wishlist" aria-labelledby="books-in-wishlist">
                <h2 id="books-in-wishlist">Wunschliste <small><a href="#section-header">zurück nach oben</a></small></h2>

                <div class="topic__books pure-g">
                    {{ range $n, $book := .ByDate.Reverse }}
                        {{ .Scratch.Set "n" $n }}
                        {{ .Render "cover-list" }}
                    {{ end }}
                </div>
            </nav>
            {{ end }}

            {{ with $favoriteBooks }}
            <hr class="separator separator--decorated">

            <nav class="books__favorites" aria-labelledby="favorite-books">
                <h2 id="favorite-books">Lieblingsbücher <small><a href="#section-header">zurück nach oben</a></small></h2>

                <div class="topic__books pure-g">
                    {{ range $n, $book := .ByDate.Reverse }}
                    {{ .Scratch.Set "n" $n }}
                    {{ .Render "cover-list" }}
                    {{ end }}
                </div>
            </nav>
            {{ end }}

            {{ with $completedBooks }}
            <hr class="separator separator--decorated">

            <nav class="books__completed" aria-labelledby="completed-books">
                <h2 id="completed-books">Abgeschlossen <small><a href="#section-header">zurück nach oben</a></small></h2>

                <div class="topic__books pure-g">
                    {{ range $n, $book := .ByDate.Reverse }}
                    {{ .Scratch.Set "n" $n }}
                    {{ .Render "cover-list" }}
                    {{ end }}
                </div>
            </nav>
            {{ end }}

            {{ with $unreadBooks }}
            <hr class="separator separator--decorated">

            <nav class="books__unread" aria-labelledby="unread-books">
                <h2 id="unread-books">Ungelesen <small><a href="#section-header">zurück nach oben</a></small></h2>

                <div class="topic__books pure-g">
                    {{ range $n, $book := .ByDate.Reverse }}
                    {{ .Scratch.Set "n" $n }}
                    {{ .Render "cover-list" }}
                    {{ end }}
                </div>
            </nav>
            {{ end }}
        </article>
        {{ end }}
    </main>
{{ end }}