{{ define "main" }}
    {{ $topic := .Data.Term }}
    <main>
        {{ partial "breadcrumbs.html" (dict "page" . "showCurrent" "0") }}

        {{ with (where .Pages "Section" "books") }}
        <article class="books">
            <h1>Bücher mit dem Thema „{{ $topic }}“</h1>

            {{ with (where . "Params.bookshelves" "intersect" (slice "completed")) }}
            <nav class="books__completed" aria-labelledby="completed-books">
                <h2 id="completed-books">Abgeschlossen</h2>

                <div class="topic__books pure-g">
                    {{ range $n, $book := .ByDate.Reverse }}
                    {{ .Scratch.Set "n" $n }}
                    {{ .Render "cover-list" }}
                    {{ end }}
                </div>
            </nav>
            {{ end }}

            {{ with (where . "Params.bookshelves" "intersect" (slice "wishlist")) }}
            <nav class="books__wishlist" aria-labelledby="books-in-wishlist">
                <h2 id="books-in-wishlist">Wunschliste</h2>

                <div class="topic__books pure-g">
                    {{ range $n, $book := .ByDate.Reverse }}
                    {{ .Scratch.Set "n" $n }}
                    {{ .Render "cover-list" }}
                    {{ end }}
                </div>
            </nav>
            {{ end }}
        </article>
        {{ end }}
    </main>
{{ end }}