{{ define "main" }}
    {{ $topic := .Data.Term }}
    <main>
        {{ partial "breadcrumbs.html" (dict "page" . "showCurrent" "0") }}

        {{ with (where .Pages "Section" "books") }}
        <article class="topic-books">
            <h1>Bücher mit dem Thema „{{ $topic }}“</h1>

            {{ with (where . "Params.bookshelves" "intersect" (slice "wishlist")) }}
            <section class="topic-books__wishlist">
                <h2>Wunschliste</h2>
                <div class="cover-list pure-g">
                    {{ range $n, $book := .ByDate.Reverse }}
                    {{ .Scratch.Set "n" $n }}
                    {{ .Render "cover-list" }}
                    {{ end }}
                </div>
            </section>
            {{ end }}

            {{ with (where . "Params.bookshelves" "intersect" (slice "completed")) }}
            <section class="topic-books__completed">
                <h2>Abgeschlossen</h2>
                <div class="cover-list pure-g">
                    {{ range $n, $book := .ByDate.Reverse }}
                    {{ .Scratch.Set "n" $n }}
                    {{ .Render "cover-list" }}
                    {{ end }}
                </div>
            </section>
            {{ end }}
        </article>
        {{ end }}
    </main>
{{ end }}