<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
    {{- partial "head.html" . -}}

    <body>
        {{- partial "header.html" . -}}

        <input type="checkbox" id="theme-switch">
        <div class="page">
            <header class="navigation">
                <div class="navigation__wrap navigation__wrap--logo">
                    <a href="/" title="Zur Startseite">
                        <img
                            src="/Ahoi.-Logo-128x128.png"
                            width="64"
                            height="64"
                            alt="Ahoi. Logo" class="logo" />
                    </a>
                </div>
                <div class="navigation__wrap navigation__wrap--main" data-open="false">
                    {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
                </div>
                <div class="navigation__wrap">
                    <ul class="menu menu--tools">
                        <li>
                            <label for="theme-switch">
                                <i class="fas fa-adjust" aria-label="Farbschema umschalten" title="Farbschema umschalten"></i>
                            </label>
                        </li>
                        <li class="menu__item menu__item--mobile-only">
                            <a href="#" title="Menü anzeigen" id="main-menu-toggle"><i class="fas fa-bars fa-fw"></i></a>
                        </li>
                    </ul>
                </div>
            </header>

            {{- block "main" . }}{{- end }}

            {{- partial "footer.html" . -}}
        </div>
    </body>

    <script src="/pagefind/pagefind-ui.js"></script>
    {{ $main := resources.Get "js/index.js" | js.Build "main.js" | minify | fingerprint }}
    <script src="{{ $main.RelPermalink }}"></script>
    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            new PagefindUI({
                element: "#search",
                showSubResults: true,
                resetStyles: false,
                translations: {
                    placeholder: "Volltextsuche"
                }
            });
        });
    </script>
</html>
