<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
    {{- partial "head.html" . -}}

    <body>
        {{- partial "header.html" . -}}

        <input type="checkbox" id="theme-switch">
        <div class="page">
            <label for="theme-switch">
                <i class="fas fa-adjust" aria-label="Farbschema umschalten" title="Farbschema umschalten"></i>
            </label>

            {{- block "main" . }}{{- end }}

            {{- partial "footer.html" . -}}
        </div>
    </body>

    {{ $mainJs := resources.Get "js/theme-switcher.js" | js.Build "main.js" | minify | fingerprint }}
    <script src="{{ $mainJs.RelPermalink }}"></script>
    {{ $mainJs := resources.Get "js/tooltip.js" | js.Build "tooltip.js" | minify | fingerprint }}
    <script src="{{ $mainJs.RelPermalink }}"></script>
</html>
