I <i class="fas fa-heart"></i> my family, the sea, seagull screeches, forests,
long walks, vanilla ice cream – actually anything with vanilla flavour,
<a href="https://en.wikipedia.org/wiki/The_Dark_Tower_(series)">The Dark Tower</a>,
playing video games, learning, Denmark, lighthouses,
<a href="https://die-abenteuer-des-robin-hood.de/">nicely designed board games</a>,
<a href="https://en.wikipedia.org/wiki/Marie_Kondo">to kondo</a>.
I earn my living as a software developer. <i class="fas fa-pastafarianism"></i>
