<p>Ich bin ein Familienmensch und <i class="fa fa-heart"></i> das Meer, Möwen
 &amp; Leuchttürme.</p>
<p>In meiner Freizeit reise ich am liebsten nach Dänemark,
 <a href="books/wishlist/">lese viel</a> und spiele hin und wieder Video- oder
 <a href="https://die-abenteuer-des-robin-hood.de/">hübsch
  gestaltete Brettspiele</a>.</p>
<p>Ich <a href="https://en.wikipedia.org/wiki/Marie_Kondo">mag Ordnung</a> und
 verdiene meinen Lebensunterhalt als Softwareentwickler.
 <i class="fas fa-pastafarianism"></i></p>