{{ define "main" }}

<main>
    <div class="pure-g introduction">
        <div class="introduction-u pure-u-1 pure-u-lg-1-2">
            <img src="{{ default "images/portrait.jpg" .Site.Author.portrait | relURL }}" class="portrait-img" alt="Portrait" />
        </div>

        <div class="pure-u-1 pure-u-lg-1-2">
            <h1>{{- with .Param "greeting" -}}{{ . }}{{- else -}}Hallo.{{- end -}}</h1>
            <h2>Ich bin {{ .Site.Author.name | default "Hallo" }}.</h2>

            {{ .Content }}

            <div class="links"><!-- TODO: switch to pure-button-group -->
                {{- range .Site.Params.links -}}
                    <a rel="me" href="{{ .url | safeURL }}" title="{{ .title }}">
                        <span class="{{ .iconset | default "fa" }} {{ .iconorigin | default "fa" }}-{{ .icon }}"></span>
                    </a>
                {{- end -}}
            </div>
        </div>
    </div>
</main>

{{ end }}
