{{ define "main" }}

<main>
    <div class="pure-g introduction">
        <div class="introduction-u pure-u-1 pure-u-lg-1-2">
            {{ with default "images/portrait.jpg" .Site.Params.author.portrait }}
            <img src="{{ . | relURL }}" class="img-portrait" alt="Portrait" />
            {{ end }}
        </div>

        <div class="pure-u-1 pure-u-lg-1-2">
            <h1>{{- with .Param "greeting" -}}{{ . }}{{- else -}}Hallo.{{- end -}}</h1>
            <h2>Ich bin {{ .Site.Params.author.name | default "Hallo" }}.</h2>

            <div class="content">
                {{ .Content }}
            </div>

            <div class="social-links">
            {{- range .Site.Params.links -}}
                <a rel="me" href="{{ .url | safeURL }}" title="{{ .title }}">
                    {{ $iconset := default "fa" .iconset }}
                    {{ $iconorigin := default "fa" .iconorigin }}
                    <span class="{{ $iconset }} {{ $iconorigin }}-{{ .icon }}"></span>
                </a>
            {{- end -}}
            </div>
        </div>
    </div>
</main>

{{ end }}
