{{- $booklist := .Data.Term -}}
<hr class="separator separator--decorated">

{{ if eq $booklist "currently-reading" }}
    {{ partial "booklists/recent/currently-reading.html" . }}
{{ else }}
    {{ partial "booklists/recent/default.html" . }}
{{ end }}

{{ define "partials/booklists/recent/default.html" }}
    <section>
        <nav aria-labelledby="booklist-{{ .Data.Term }}" class="booklist__books pure-g">
            <h2 id="booklist-{{ .Data.Term }}" class="pure-u-1">{{ .Title }}</h2>

            {{- range $n, $book := first 5 (where .Pages.ByDate.Reverse "Params.booklists" "intersect" (slice .Data.Term)) -}}
                {{- .Scratch.Set "n" $n -}}
                {{- .Render "cover-list" -}}
            {{- end -}}
            {{- with .Site.GetPage (path.Join "booklists" .Data.Term) -}}
            <a href="{{ .RelPermalink }}" class="booklist__books__show-all pure-u-1-2 pure-u-md-1-4 pure-u-lg-1-6">
                <i class="fas fa-angle-double-right"></i><br>
                alle anzeigen
            </a>
            {{- end -}}
        </nav>
    </section>
{{ end }}

{{ define "partials/booklists/recent/currently-reading.html" }}
    <section>
        <nav aria-labelledby="booklist-currently-reading" class="booklist__books pure-g">
            <h2 id="booklist-currently-reading" class="pure-u-1">Aktuelles Buch</h2>

            {{- range $n, $book := first 1 (where .Pages.ByDate.Reverse "Params.booklists" "intersect" (slice "currently-reading")) -}}
                {{- .Scratch.Set "n" $n -}}
                {{- .Render "cover-list" -}}

                <div class="pure-u-1 pure-u-md-3-4 pure-u-lg-5-6">
                    <h3>{{ .Title }}{{ with .Params.subtitle }}<br>
                        <small><em>{{ . }}</em></small>{{ end }}</h3>
                    <p>von <em>{{ .Params.author }}</em>
                        (<time aria-label="Jahr der Veröffentlichung">{{ .Params.publishedAt }}</time>)</p>
                    <p>{{ .Summary }}</p>
                </div>
            {{ end }}
        </nav>
    </section>
{{ end }}