{{ define "main" }}

<main>
    <h1>{{ with .Params.Title }}{{ . }}{{ else }}{{ .Section | title }} - {{ .Data.Term | title }}{{ end }}</h1>

    {{- $topics := slice -}}
    {{ range .Pages }}
    {{ $topics = $topics | append .Params.topics }}
    {{ end }}

    <div class="control-group control-group--awesomplete">
        <input
                placeholder="Thema filtern"
                aria-label="Thema filtern"
                list="topics"
                data-maxitems="{{ $topics | len }}">
        <button aria-controls="topics"><i class="fas fa-filter fa-xs"></i></button>
        <button type="reset" class="button--last"><i class="fas fa-times fa-xs"></i></button>
        <datalist id="topics">
            {{- range ($topics | uniq | sort) }}
            <option value="{{ . | anchorize }}">{{ . }}</option>
            {{- end }}
        </datalist>
    </div>

    <hr class="separator separator--decorated">

    <div class="cover-list pure-g">
        {{ $books := slice }}
        {{ if eq .Data.Term "completed" }}
        {{ $books = .Pages.ByDate.Reverse }}
        {{ else }}
        {{ $books = .Pages.ByTitle }}
        {{ end }}
        {{ range $n, $book := $books }}
        <a
                class="cover pure-u-1-2 pure-u-md-1-4 pure-u-lg-1-6"
                aria-labelledby="cover-label-{{ $book.Params.idn }}"
                href="{{ $book.Permalink }}"
                data-topics="{{ range $book.Params.topics }}{{ . | anchorize }} {{end }}">
            <figure class="cover__figure">
                {{- with partial "book/cover" (dict "isbn" $book.Params.isbn "coverUri"
                $book.Params.coverUri "coversPath" $.Site.Params.books.coversPath) -}}
                <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" {{ if gt $n 15 }}
                     loading="lazy" {{ end }}>
                {{- end -}}
                <figcaption id="cover-label-{{ .Params.idn }}">{{ .Title }} - <em>{{ .Params.author }}</em>
                </figcaption>
            </figure>
        </a>
        {{ end }}
    </div>
</main>

{{ end }}