{{ define "main" }}

<main>
    <section>
        <h1>{{ with .Params.Title }}{{ . }}{{ else }}{{ .Section | title }} - {{ .Data.Term | title }}{{ end }}</h1>

        <aside>
            {{- $topics := slice -}}
            {{ range .Pages }}
                {{ with .GetTerms "topics" }}
                    {{ range . }}
                        {{ $topics = $topics | append (dict "link" .RelPermalink "title" .LinkTitle) }}
                    {{ end }}
                {{ end }}
            {{ end }}
            {{ $topics = $topics | uniq }}

            <div class="control-group control-group--awesomplete"
                 data-filter-source=".topic-books__{{ .Data.Term }} .cover-list"
                 data-filter-target=".cover-list">
                <input
                        placeholder="Thema filtern"
                        aria-label="Thema filtern"
                        list="topics"
                        data-maxitems="{{ $topics | len }}">
                <button aria-controls="topics"><i class="fas fa-filter fa-xs"></i></button>
                <button type="reset" class="button--last"
                        data-hx-get="{{ .RelPermalink }}"
                        data-hx-select=".cover-list"
                        data-hx-target=".cover-list"><i class="fas fa-times fa-xs"></i></button>
                <datalist id="topics">
                    {{- range (sort $topics "title") }}
                    <option value="{{ .link }}">{{ .title }}</option>
                    {{- end }}
                </datalist>
            </div>

            <hr class="separator separator--decorated">
        </aside>

        {{ $paginator := .Paginate ( .Pages.ByDate.Reverse ) 24 }}

        <div class="cover-list pure-g">
            {{ range $n, $book := $paginator.Pages }}
            {{ .Scratch.Set "n" $n }}
            {{ .Render "cover-list" }}
            {{ end }}

            <nav>
                {{ partial "books/pagination.html" (dict "page" . "format" "default") }}
            </nav>
        </div>
    </section>
</main>

{{ end }}