{{ define "main" }}

<main>
    <section>
        <h1 id="section-header">{{ with .Params.Title }}{{ . }}{{ else }}{{ .Section | title }} - {{ .Data.Term | title }}{{ end }}</h1>

        <aside>
            {{- $topics := slice -}}
            {{ range .Pages }}
                {{ with .GetTerms "topics" }}
                    {{ range . }}
                        {{ $topics = $topics | append (dict "link" .RelPermalink "title" .LinkTitle) }}
                    {{ end }}
                {{ end }}
            {{ end }}
            {{ $topics = $topics | uniq }}

            <div class="control-group control-group--awesomplete"
                 data-filter-source=".books__{{ .Data.Term }} .topic__books"
                 data-filter-target=".bookshelf">
                <input
                        placeholder="Thema filtern"
                        aria-label="Thema filtern"
                        list="topics"
                        data-maxitems="{{ $topics | len }}">
                <button aria-controls="topics"><i class="fas fa-filter fa-xs"></i></button>
                <button type="reset" class="button--last"
                        data-hx-get="{{ .RelPermalink }}"
                        data-hx-select=".bookshelf"
                        data-hx-target=".bookshelf"
                        data-hx-swap="outerHTML"><i class="fas fa-times fa-xs"></i></button>
                <datalist id="topics">
                    {{- range (sort $topics "title") }}
                    <option value="{{ .link }}">{{ .title }}</option>
                    {{- end }}
                </datalist>
            </div>

            <hr class="separator separator--decorated">
        </aside>

        {{ $paginator := .Paginate ( .Pages.ByDate.Reverse ) 24 }}

        <nav class="bookshelf" aria-labelledby="section-header">
            <div class="bookshelf__books pure-g">
                {{ range $n, $book := $paginator.Pages }}
                {{ .Scratch.Set "n" $n }}
                {{ .Render "cover-list" }}
                {{ end }}
            </div>

            {{ partial "books/pagination.html" (dict "page" . "format" "default") }}
        </nav>
    </section>

    <div class="scroll-to-top">
        <a href="#" role="button" aria-label="Zurück zum Anfang der Seite">
            <svg height="48" viewBox="0 0 48 48" width="48" height="48px" xmlns="http://www.w3.org/2000/svg">
                <path class="scroll-to-top__background" d="M0 0h48v48h-48z"></path>
                <path class="scroll-to-top__icon" d="M14.83 30.83l9.17-9.17 9.17 9.17 2.83-2.83-12-12-12 12z"></path>
            </svg>
        </a>
    </div>
</main>

{{ end }}