<aside class="book-metadata pure-g">
    <div class="book-metadata__isbn pure-u-1 pure-u-md-1-2">
        <div class="book-metadata__item">
            <details class="tooltip tooltip--left-aligned">
                <summary><small>ISBN:</small> {{ .Params.isbn }} <i class="tooltip__icon fas fa-info-circle"></i></summary>
                <div class="tooltip__body">
                    <p>Nutze die ISBN, um das Buch beim lokalen Buchhändler deines Vertrauens zu kaufen.</p>
                </div>
            </details>
        </div>
    </div>
    <div class="book-metadata__source-references pure-u-1 pure-u-md-1-2">
        <div class="book-metadata__item">
            <small>Quellenangaben:</small>
            <ul class="fa-ul">
                <li><span class="fa-li"><i class="fas fa-external-link-alt fa-xs"></i></span><a href="{{ .Params.source }}">Inhaltsbeschreibung</a></li>
                <li><span class="fa-li"><i class="fas fa-external-link-alt fa-xs"></i></span><a href="{{ .Params.cataloguePermalink }}">Bibliografische Daten</a></li>
            </ul>
        </div>
    </div>
    <div class="pure-u-1">
        <div class="book-metadata__item">
            <small>Themen:</small>
            {{ with .GetTerms "topics" -}}
            {{- range $i, $topic := . -}}
            {{- if $i -}}, {{ end -}}<a href="{{ $topic.RelPermalink }}">{{ $topic.LinkTitle }}</a>
            {{- end -}}
            {{- end }}
        </div>
    </div>
</aside>