{{ $siteParams := .siteParams }}
{{ with .site.RegularPages.Related (dict "document" .document "indices" .indices) | first .amount }}
<section class="card">
    <header class="card__header"><i class="card__header__icon fas fa-link"></i> Ähnliche Bücher</header>
    <div class="card__body">
        <article class="related-books pure-g">
            {{ range . }}
            <aside class="pure-u-1-4 pure-u-md-1-8 pure-u-lg-2-24">
                <a href="{{ .RelPermalink }}">
                    {{ $alternateText := printf "Titelseite des Buchs „%s“ von %s" .Title .Params.author }}
                    {{- with partial "book/cover" (dict "page" .) -}}
                    <img class="cover" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="{{ $alternateText }}">
                    {{- end -}}
                </a>
            </aside>

            <section class="pure-u-3-4 pure-u-md-3-8 pure-u-lg-4-24">
                <div class="related-books__book">
                    <a href="{{ .RelPermalink }}">{{ .Title }}</a><br>
                    von <em>{{ .Params.author }}</em>
                </div>
            </section>
            {{ end }}
        </article>
    </div>
</section>
{{ end }}