{{ with .Resources.GetMatch "review.md" }}
    <hr class="separator separator--decorated">

    <aside class="review pure-g">
        <div class="review__rating pure-u-1-2">
            <details class="tooltip tooltip--left-aligned">
                <summary>
                    {{ partial "book/rating.html" (dict "rating" .Params.rating) }}
                    <i class="tooltip__icon fas fa-info-circle"></i>
                </summary>
                <ul class="review__rating__tooltip__body tooltip__body">
                    <li>
                        {{ partial "book/rating.html" (dict "rating" 5 ) }}<br>
                        <small>Ohne Einschränkung empfehlenswert.</small>
                    </li>
                    <li>
                        {{ partial "book/rating.html" (dict "rating" 4 ) }}<br>
                        <small>Für Interessierte des Themas empfehlenswert.</small>
                    </li>
                    <li>
                        {{ partial "book/rating.html" (dict "rating" 3 ) }}<br>
                        <small>Für Fans des Themas empfehlenswert.</small>
                    </li>
                    <li>{{ partial "book/rating.html" (dict "rating" 2 ) }}<br>
                        <small>Nicht empfehlenswert, obwohl das Thema interessant war.</small>
                    </li>
                    <li>
                        {{ partial "book/rating.html" (dict "rating" 1 ) }}<br>
                        <small>Überhaupt nicht empfehlenswert.</small>
                    </li>
                </ul>
            </details>
        </div>

        <div class="review__date pure-u-1-2">
            {{ $.Params.Date | time.Format "2. Jan 2006" }}
        </div>

        <blockquote class="review__comment pure-u-1">
            <h3>{{ .Params.Title }}</h3>
            {{ with .Content }}
            {{ . }}
            {{ end }}
        </blockquote>
    </aside>
{{ end }}