.cover--single {
  // Adapted from source: https://dev.to/this-is-learning/fully-responsive-css-folded-ribbon-11h5
  figure {
    width: 222px;
    height: 360px;
    margin: 0 auto;

    @include ribbon($blue);
  }

  img {
    border-radius: .5rem;

    box-shadow: 0 0 .5rem var(--secondary-color-o20);
  }
}

.book__header {
  h1 {
    margin-block-end: .5rem;

    a:hover:after {
      content: "¶";
      margin-inline-start: .25rem;

      font-size: 1.5rem;
      color: var(--secondary-color-o20);
    }
  }
  p {
    margin-block-start: .5rem;
  }
}

.book-metadata {
  border-top: 1px solid var(--secondary-color-o20);
  padding-top: 1rem;

  &__isbn {
    position: relative;

    .tooltip__body {
      padding: .5rem
    }
  }

  &__source-references {
    ul {
      margin: 0 0 0 2rem;
    }
  }

  &__item {
    margin-block-start: 0;
    margin-block-end: .5rem;

    @include mq-md() {
      padding: .25rem;
    }

    small {
      display: inline-block;

      @include mq-md() {
        width: 100%;
      }
    }
  }
}

.review {
  position: relative; // To allow absolute positioning of tooltip.

  &__rating {
    &__icon {
      color: $yellow;
    }

    &__tooltip__body {
      list-style: none;
      padding: .5rem;
      margin: var(--tooltip-triange-size) 0 0 0;

      li {
        padding: .5rem;

        border-bottom: 1px solid var(--secondary-color-o20);

        &:last-child {
          border: unset;
        }
      }
    }
  }

  &__date {
    text-align: right;
  }

  &__comment {
    font-style: italic;
    margin: 1rem 0; // Reset some parts of the generic blockquote rules.
    padding: 2rem 0 1rem 2rem;

    @include mq-md() {
      padding: 2rem 0 1rem 2.75rem;
    }

    &:before {
      left: 0;

      @include mq-md() {
        left: .75rem;
      }
    }
  }
}

.book-links {
  margin: .85rem 0;

  @include mq-lg() {
    order: -1;

    position: absolute;

    left: 1.5rem;
    top: calc(360px + 5rem);
    width: calc((64rem / 3) - 3rem);
  }

  ul {
    list-style: none;
    padding: .5rem;
    margin: var(--tooltip-triange-size) 0 0 0;

    li {
      padding: .5rem;

      border-bottom: 1px solid var(--secondary-color-o20);

      &:last-child {
        border: unset;
      }
    }
  }
}

.related-books {
  line-height: 1.6;

  img {
    border-radius: .5rem;

    max-width: 100%;
    height: auto;
  }

  &__book {
    font-size: 0.8rem;
    padding: .5rem;
  }
}