.cover--single {
  // Adapted from source: https://dev.to/this-is-learning/fully-responsive-css-folded-ribbon-11h5
  figure {
    width: 222px;
    height: 360px;
    margin: 0 auto;

    position: relative;

    --d: .25rem; // folded part
    --c: #{rgba($blue, .75)}; // color
    --f: .85rem; // ribbon font-size

    &.ribbon::before {
      content: attr(data-ribbon) !important;

      position: absolute;
      top: 0;
      left: 0;
      right: auto;

      transform: translate(-29.29%, -100%) rotate(-45deg);
      transform-origin: bottom right;

      font-size: var(--f);

      text-align: center;

      color: $white;

      border: 1px solid transparent;
      border-bottom: 0;

      padding: .5rem 2rem calc(var(--d) + .5rem);

      background: linear-gradient(rgba(0, 0, 0, 0.5) 0 0) bottom/100% var(--d) no-repeat var(--c);
      background-clip: padding-box;
      clip-path: polygon(
                      0 0,
                      100% 0,
                      100% 100%,
                      calc(100% - var(--d)) calc(100% - var(--d)),
                      var(--d) calc(100% - var(--d)),
                      0 100%
      );
      -webkit-mask: linear-gradient(
                      135deg, transparent calc(50% - var(--d) * 0.707),
                      #fff 0
      ) bottom left,
      linear-gradient(
                      -135deg, transparent calc(50% - var(--d) * 0.707),
                      #fff 0
      ) bottom right;
      -webkit-mask-size: 300vmax 300vmax;
      -webkit-mask-composite: destination-in;
      mask-composite: intersect;

      // Added, because switching to dark mode otherwise "hides" the ribbon 🤷.
      z-index: 1;
    }
  }

  img {
    border-radius: .5rem;

    box-shadow: 0 0 .5rem var(--secondary-color-o20);
  }
}

.book__header {
  h1 {
    margin-block-end: .5rem;

    a:hover:after {
      content: "¶";
      margin-inline-start: .25rem;

      font-size: 1.5rem;
      color: var(--secondary-color-o20);
    }
  }
  p {
    margin-block-start: .5rem;
  }
}

.book-metadata {
  border-top: 1px solid var(--secondary-color-o20);
  padding-top: 1rem;

  &__isbn {
    position: relative;

    .tooltip__body {
      padding: .5rem
    }
  }

  &__source-references {
    ul {
      margin: 0 0 0 2rem;
    }
  }

  &__item {
    margin-block-start: 0;
    margin-block-end: .5rem;

    @include mq-md() {
      padding: .25rem;
    }

    small {
      display: inline-block;

      @include mq-md() {
        width: 100%;
      }
    }
  }
}

.review {
  position: relative; // To allow absolute positioning of tooltip.

  &__rating {
    &__icon {
      color: $yellow;
    }

    &__tooltip__body {
      list-style: none;
      padding: .5rem;
      margin: var(--tooltip-triange-size) 0 0 0;

      li {
        padding: .5rem;

        border-bottom: 1px solid var(--secondary-color-o20);

        &:last-child {
          border: unset;
        }
      }
    }
  }

  &__date {
    text-align: right;
  }

  &__comment {
    font-style: italic;
    margin: 1rem 0; // Reset some parts of the generic blockquote rules.
    padding: 2rem 0 1rem 2rem;

    @include mq-md() {
      padding: 2rem 0 1rem 2.75rem;
    }

    &:before {
      left: 0;

      @include mq-md() {
        left: .75rem;
      }
    }
  }
}

.book-links {
  margin: .85rem 0;

  @include mq-lg() {
    order: -1;

    position: absolute;

    left: 1.5rem;
    top: calc(360px + 5rem);
    width: calc((64rem / 3) - 3rem);
  }

  ul {
    list-style: none;
    padding: .5rem;
    margin: var(--tooltip-triange-size) 0 0 0;

    li {
      padding: .5rem;

      border-bottom: 1px solid var(--secondary-color-o20);

      &:last-child {
        border: unset;
      }
    }
  }
}

.related-books {
  line-height: 1.6;

  img {
    border-radius: .5rem;

    max-width: 100%;
    height: auto;
  }

  &__book {
    font-size: 0.8rem;
    padding: .5rem;
  }
}