{{ define "main" }}
    <main>
        <div class="content">
            <h1>{{ .Title }}</h1>
            {{ .Content }}
        </div>

        <hr class="ruler-decorated">

        {{ range $num, $input := .Params.titleSamples }}
        <section class="content">
            {{ if gt $num 0 }}<hr>{{ end }}

            <h2>Ergebnis #{{ add $num 1 }}</h2>

            <dl>
                <dt><strong>Eingabewert</strong></dt>
                <dd>{{ $input.title }}</dd>
            {{ with partial "dnb/oai_dc/title-parser-re.html" $input.title }}
                <dt><strong>Bevorzugter Titel</strong></dt>
                <dd>{{ with .preferredTitle }}{{ . }}{{ else }}<em>keine Angabe</em>{{ end }}</dd>

                <dt><strong>Haupttitel</strong></dt>
                <dd>{{ with .mainTitle }}{{ . }}{{ else }}<em>keine Angabe</em>{{ end }}</dd>

                <dt><strong>Titelzusatz</strong></dt>
                <dd>{{ with .titleAddition }}{{ . | strings.FirstUpper }}{{ else }}<em>keine Angabe</em>{{ end }}</dd>

                <dt><strong>Verantwortlichkeitsangabe(n)</strong></dt>
                <dd>{{ with .responsibilityDetails }}{{ . }}{{ else }}<em>keine Angabe</em>{{ end }}</dd>
            {{ end }}
            </dl>

            <p>Quelle: <em>{{ $input.source }}</em></p>
        {{ end }}
        </section>
    </main>
{{ end }}