{{ define "main" }}
    <main>
        <div class="content">
            <h1>{{ .Title }}</h1>
            {{ .Content }}

            <h2>Ergebnisse</h2>
            {{ range .Params.titleSamples }}
                <h3>{{ .title }}</h3>

                <dl>
                {{ with partial "dnb/oai_dc/title-parser-re.html" .title }}
                    <dt>Bevorzugter Titel</dt>
                    <dd>{{ with .preferredTitle }}{{ . }}{{ else }}keine Angabe{{ end }}</dd>
                    <dt>Haupttitel</dt>
                    <dd>{{ with .mainTitle }}{{ . }}{{ else }}keine Angabe{{ end }}</dd>
                    <dt>Titelzusatz</dt>
                    <dd>{{ with .titleAddition }}{{ . }}{{ else }}keine Angabe{{ end }}</dd>
                    <dt>Verantwortlichkeitsangabe(n)</dt>
                    <dd>{{ with .responsibilityDetails }}{{ . }}{{ else }}keine Angabe{{ end }}</dd>
                {{ end }}
                </dl>

                <p>Quelle: <em>{{ .source }}</em></p>
            {{ end }}
            </ul>
        </div>
    </main>
{{ end }}