{{ define "main" }}
    <main>
        <h1>{{ .Params.Title }}</h1>

        {{ .Content }}

        <hr class="separator separator--decorated">

        {{ $booklists := sort .Site.Taxonomies.booklists "Page.Weight" }}
        <nav class="menu menu--toc">
            <h2><small>Auf dieser Seite:</small></h2>
            <ul>
            {{ range $booklists -}}
                <li><a href="#booklist-{{ .Page.Data.Term }}" title="insgesamt {{ T "book_with_count" .Count }}">{{ .Page.Title }}</a></li>
            {{ end -}}
            </ul>
        </nav>

        {{ range $booklists }}
            {{ partial "booklists/recent.html" .Page }}
        {{ end }}

    </main>
{{ end }}