{{ define "main" }}
    <main>
        <h1>{{ .Params.Title }}</h1>

        {{ .Content }}

        {{- $booklists := sort .Site.Taxonomies.booklists "Page.Weight" -}}

        <nav class="menu menu--toc">
            <hr class="separator separator--decorated">

            <ul>
            {{ range $booklists -}}
                <li><a href="#recent-books-{{ .Page.Data.Term }}"
                       class="button button--auxiliary pure-button"
                       title="insgesamt {{ T "book_with_count" .Count }}">{{ default .Page.Title .Page.Params.recentTitle }}</a></li>
            {{ end -}}
            </ul>
        </nav>

        {{ range $booklists }}
            {{ partial "booklists/recently-updated.html" .Page }}
        {{ end }}

    </main>
{{ end }}