{{ define "main" }}
    <main>
        {{ partial "breadcrumbs.html" (dict "page" . "showCurrent" "0") }}

        <h1>{{ .Params.Title }}</h1>

        {{ .Content }}

        <hr class="separator separator--decorated">

        <section>
            <nav aria-labelledby="booklist-wishlist" class="booklist__books pure-g">
                <h2 id="booklist-wishlist" class="pure-u-1">Kürzlich zur Wunsch&shy;liste hinzugefügt</h2>
                {{ range $n, $book := first 5 (where .Pages.ByDate.Reverse "Params.booklists" "intersect" (slice "wishlist")) }}
                {{ .Scratch.Set "n" $n }}
                {{ .Render "cover-list" }}
                {{ end }}
                {{ with $.Site.GetPage (path.Join "booklists" "wishlist") }}
                <a href="{{ .RelPermalink }}" class="booklist__books__show-all pure-u-1-2 pure-u-md-1-4 pure-u-lg-1-6">
                    <i class="fas fa-angle-double-right"></i><br>
                    alle anzeigen
                </a>
                {{ end }}
            </nav>
        </section>

        <hr class="separator separator--decorated">

        <section>
            <nav aria-labelledby="booklist-completed" class="booklist__books pure-g">
                <h2 id="booklist-completed" class="pure-u-1">Lieblingsbücher</h2>
                {{ range $n, $book := first 5 (where .Pages.ByDate.Reverse "Params.booklists" "intersect" (slice "favorites")) }}
                {{ .Scratch.Set "n" $n }}
                {{ .Render "cover-list" }}
                {{ end }}
                {{ with $.Site.GetPage (path.Join "booklists" "favorites") }}
                <a href="{{ .RelPermalink }}" class="booklist__books__show-all pure-u-1-2 pure-u-md-1-4 pure-u-lg-1-6">
                    <i class="fas fa-angle-double-right"></i><br>
                    alle anzeigen
                </a>
                {{ end }}
            </nav>
        </section>

        <hr class="separator separator--decorated">

        <section>
            <nav aria-labelledby="book-currenty-reading" class="booklist__books pure-g">
                <h2 id="book-currently-reading" class="pure-u-1">Aktuelles Buch</h2>
                {{ range $n, $book := first 1 (where .Pages.ByDate.Reverse "Params.booklists" "intersect" (slice "currently-reading")) }}
                    {{ .Scratch.Set "n" $n }}
                    {{ .Render "cover-list" }}
                    <div class="pure-u-1 pure-u-md-3-4 pure-u-lg-5-6">
                        <h3>{{ .Title }}{{ with .Params.subtitle }}<br>
                            <small><em>{{ . }}</em></small>{{ end }}</h3>
                        <p>von <em>{{ .Params.author }}</em>
                            (<time aria-label="Jahr der Veröffentlichung">{{ .Params.publishedAt }}</time>)</p>
                        <p>{{ .Summary }}</p>
                    </div>
                {{ end }}
            </nav>
        </section>

        <hr class="separator separator--decorated">

        <section>
            <nav aria-labelledby="booklist-completed" class="booklist__books pure-g">
                <h2 id="booklist-completed" class="pure-u-1">Kürzlich abgeschlossen</h2>
                {{ range $n, $book := first 5 (where .Pages.ByDate.Reverse "Params.booklists" "intersect" (slice "completed")) }}
                {{ .Scratch.Set "n" $n }}
                {{ .Render "cover-list" }}
                {{ end }}
                {{ with $.Site.GetPage (path.Join "booklists" "completed") }}
                <a href="{{ .RelPermalink }}" class="booklist__books__show-all pure-u-1-2 pure-u-md-1-4 pure-u-lg-1-6">
                    <i class="fas fa-angle-double-right"></i><br>
                    alle anzeigen
                </a>
                {{ end }}
            </nav>
        </section>

        <hr class="separator separator--decorated">

        <section>
            <nav aria-labelledby="booklist-unread" class="booklist__books pure-g">
                <h2 id="booklist-unread" class="pure-u-1">Ungelesene Bücher</h2>
                {{ range $n, $book := first 5 (where .Pages.ByDate.Reverse "Params.booklists" "intersect" (slice "unread")) }}
                {{ .Scratch.Set "n" $n }}
                {{ .Render "cover-list" }}
                {{ end }}
                {{ with $.Site.GetPage (path.Join "booklists" "unread") }}
                <a href="{{ .RelPermalink }}" class="booklist__books__show-all pure-u-1-2 pure-u-md-1-4 pure-u-lg-1-6">
                    <i class="fas fa-angle-double-right"></i><br>
                    alle anzeigen
                </a>
                {{ end }}
            </nav>
        </section>
    </main>
{{ end }}