{{ $n := .Scratch.Get "n" }}
{{ $alternateText := printf "Darstellung der Titelseite des Buchs „%s“ von %s" .Title .Params.author }}
{{ $inBooklistWishlistAndReserved := and (in .Params.booklists "wishlist") (.Params.isReserved) }}
<a
        class="cover pure-u-1-2 pure-u-md-1-4 pure-u-lg-1-6"
        aria-label="{{ .Title }} von {{ .Params.author }}"
        href="{{ .Permalink }}">
    <figure{{ if $inBooklistWishlistAndReserved }} class="cover__figure ribbon" data-ribbon="reserviert"{{ else }} class="cover__figure"{{ end }} aria-label="{{ $alternateText }}">
        {{- with partial "book/cover" (dict
            "isbn" .Params.isbn
            "coverUri" .Params.coverUri
            "coversPath" $.Site.Params.books.coversPath
        ) -}}
        <img src="{{ .RelPermalink }}"
             width="{{ .Width }}"
             height="{{ .Height }}"
             alt="{{ $alternateText }}"
             {{ if gt $n 15 }} loading="lazy"{{ end }}>
        {{- end -}}
        <figcaption>{{ .Title }}<br><em>{{ .Params.author }}</em></figcaption>
    </figure>
</a>