{{ $n := .Scratch.Get "n" }}
{{ $alternateText := printf "Darstellung der Titelseite des Buchs „%s“ von %s" .Title .Params.author }}
{{ $inBooklistWishlistAndReserved := and (in .Params.booklists "wishlist") (.Params.isReserved) }}
{{ $inBooklistCurrentlyReading := in .Params.booklists "currently-reading" }}
<article class="recent-book pure-u-1-1 pure-u-lg-3-4">
    <div class="pure-g">

        <header class="recent-book__title pure-u-7-12 pure-u-md-1-1">
            <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
            <p>von <em>{{ .Params.author }}</em> <time>{{ .Params.publishedAt }}</time></p>
            <ul class="recent-book__topics">
                {{- range $i, $topic := (first 3 (.GetTerms "topics")) -}}
                <li><a href="{{ $topic.RelPermalink }}" class="recent-book__topic button button--auxiliary pure-button">{{ $topic.LinkTitle }}</a> </li>
                {{- end -}}
            </ul>
        </header>

        <section class="recent-book__cover pure-u-5-12 pure-u-md-1-4 pure-u-lg-5-24">
            <a href="{{ .Permalink }}" aria-label="Zum Buch „{{ .Title }}“ von {{ .Params.author }}">
                <figure{{ if $inBooklistWishlistAndReserved }} class="ribbon" data-ribbon="reserviert"{{ end }} aria-label="{{ $alternateText }}">
                    {{- $isbn := .Params.isbn -}}
                    {{- $coverUri := .Params.coverUri -}}
                    {{- $coversPath := $.Site.Params.books.coversPath -}}

                    {{- $sourcesets := slice -}}
                    {{- $factors := slice .75 1.5 2.25 -}}
                    {{- $page := . }}
                    {{- range $factors -}}
                        {{- with partial "book/cover" (dict "factor" . "page" $page ) -}}
                        {{- $sourcesets = $sourcesets | append (dict
                            "url" .RelPermalink
                            "width" .Width
                        ) -}}
                        {{- end -}}
                    {{- end -}}
                    <img srcset="{{ range $k, $v := $sourcesets }}{{ if gt $k 0 }}, {{ end }}{{ $v.url }} {{ $v.width }}w{{ end }}"
                         alt="{{ $alternateText }}"
                         {{ if gt $n 15 }} loading="lazy"{{ end }}>
                </figure>
            </a>
        </section>

        <section class="recent-book__summary{{ if $inBooklistCurrentlyReading }} recent-book__summary--always-displayed{{ end }} pure-u-1-1 pure-u-md-3-4 pure-u-lg-19-24">
            <p>{{ .Summary }}</p>
        </section>

    </div>
</article>