{{ define "main" }}

    <main>
        <div class="pure-g">
            <div class="single-cover-u cover-u pure-u-1 pure-u-lg-8-24">
                {{- with partial "book/cover" (dict "isbn" .Params.isbn "coverUri" .Params.coverUri "coversPath" $.Site.Params.books.coversPath) -}}
                <img class="cover" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
                {{- end -}}
                {{ if in .Params.bookshelves "completed" }}
                <div class="ribbon">
                    <span>bereits gelesen</span>
                </div>
                {{ end }}
            </div>
            <div class="pure-u-1 pure-u-lg-16-24">
                <div class="content">
                    <h1><a href="{{ .Params.cataloguePermalink }}" title="In der Deutschen Nationalbibliothek nachschlagen">{{ .Title }}</a>{{ with .Params.subtitle }}<br><small><em>{{ . }}</em></small>{{ end }}</h1>
                    <h2>von <em>{{ .Params.author }}</em></h2>
                </div>

                <hr class="ruler-decorated">

                <div class="content">
                    {{ .Content }}

                    <p><small>Quelle: <a class="excerpt-source" href="{{ .Params.source }}">{{ .Params.source }}</a></small></p>

                    {{ partial "book/metadata.html" (dict "Params" .Params) }}
                </div>

                {{ partial "book/review.html" . }}
            </div>

            <div class="book-links-u pure-u-1">
                <div class="pure-g">
                    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1">
                        <div class="p-box">
                            <a class="button-primary button-block pure-button"
                               href="https://www.medimops.de/buecher-C0186606/?fcIsSearch=1&condition=NewItem%2CUsedVeryGood%2CUsedGood%2CUsedAcceptable&searchparam={{ .Params.isbn }}"
                               title="bei medimops.de suchen"><i class="fas fa-leaf" aria-label="bei medimops.de suchen"></i> bei medimops.de suchen</a>
                        </div>
                    </div>
                    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1">
                        <div class="p-box">
                            <a class="button-secondary button-block pure-button"
                               href="https://www.thalia.de/suche?sq={{ .Params.isbn }}"
                               title="bei thalia.de suchen"><i class="fas fa-globe" aria-label="bei thalia.de suchen"></i> bei thalia.de suchen</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pure-u-1">
                {{ partial "book/related.html" (dict
                    "site" .Site
                    "siteParams" $.Site.Params
                    "document" .
                    "indices" (slice "topics")
                    "amount" 4
                ) }}
            </div>
        </div>
    </main>

{{ end }}