{{ define "main" }}

    <main data-pagefind-body>
        <article class="book pure-g">
            <aside class="cover--single cover pure-u-1 pure-u-lg-8-24" aria-label="Darstellung der Titelseite des Buchs „{{ .Title }}“ von {{ .Params.author }}">
                {{ $inBooklistCompleted := in .Params.booklists "completed" }}
                {{ $inBooklistWishlistAndReserved := and (in .Params.booklists "wishlist") (.Params.isReserved) }}
                {{- with partial "book/cover" (dict "factor" 1.5 "page" . ) -}}
                <figure
                    {{ if $inBooklistCompleted }} class="ribbon" data-ribbon="bereits gelesen"{{ end }}
                    {{ if $inBooklistWishlistAndReserved }} class="ribbon" data-ribbon="reserviert"{{ end }}
                    aria-label="Darstellung der Titelseite des Buchs „{{ .Title }}“ von {{ .Params.author }}"
                    >
                    <img data-pagefind-meta="image[src]" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
                </figure>
                {{- end -}}
            </aside>

            <section class="pure-u-1 pure-u-lg-16-24">
                <header class="book__header">
                    <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a>{{ with .Params.subtitle }}<br>
                        <small><em>{{ . }}</em></small>{{ end }}</h1>
                    <p>von <em>{{ .Params.author }}</em>
                        (<time aria-label="Jahr der Veröffentlichung">{{ default .Params.publishedAt .Params.publishingYear }}</time>)</p>
                </header>

                <hr class="separator separator--decorated">

                {{ .Content }}

                {{ partial "book/metadata.html" . }}

                {{ partial "book/review.html" . }}
            </section>

            {{ with .Params.isbn }}
            <aside class="book-links pure-u-1" aria-label="Kaufoptionen" data-pagefind-ignore>
                <details class="tooltip">
                    <summary class="button button--primary button--block pure-button"><i class="fas fa-shopping-cart"></i> Kaufen</summary>
                    <ul class="tooltip__body">
                        <li>
                            <i class="fas fa-leaf"></i> <a href="https://www.medimops.de/buecher-C0186606/?fcIsSearch=1&condition=NewItem%2CUsedVeryGood%2CUsedGood%2CUsedAcceptable&searchparam={{ . }}"
                                                           title="Buch gebraucht bei medimops.de kaufen">Buch gebraucht kaufen</a><br>
                            <small>Umweltschonend.</small>
                        </li>
                        <li>
                            <i class="fas fa-globe"></i> <a href="https://www.thalia.de/suche?sq={{ . }}"
                                                            title="Neues Buch bei thalia.de kaufen">Neues Buch kaufen</a>
                        </li>
                    </ul>
                </details>
            </aside>
            {{ end }}

            <aside class="pure-u-1" aria-label="Ähnliche Bücher" data-pagefind-ignore>
                {{ partial "book/related.html" (dict
                    "site" .Site
                    "siteParams" $.Site.Params
                    "document" .
                    "indices" (slice "topics")
                    "amount" 4
                ) }}
            </aside>
        </article>
    </main>

{{ end }}