{{ define "main" }}

    <main>
        <div class="pure-g">
            <div class="single-cover-u cover-u pure-u-1 pure-u-lg-8-24">
                {{- with partial "book/cover" (dict "isbn" .Params.isbn "coverUri" .Params.coverUri "coversPath" $.Site.Params.books.coversPath) -}}
                <img class="cover" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
                {{- end -}}
            </div>
            <div class="pure-u-1 pure-u-lg-16-24">
                <div class="content">
                    <h1><a href="{{ .Params.cataloguePermalink }}" title="In der Deutschen Nationalbibliothek nachschlagen">{{ .Title }}</a>{{ with .Params.subtitle }}<br><small><em>{{ . }}</em></small>{{ end }}</h1>
                    <h2>von <em>{{ .Params.author }}</em></h2>
                </div>

                <hr class="ruler-decorated">

                <div class="content">
                    {{ .Content }}

                    <p><small>Quelle: <a class="excerpt-source" href="{{ .Params.source }}">{{ .Params.source }}</a></small></p>

                    {{ partial "book/metadata.html" (dict "Params" .Params) }}
                </div>

                {{ partial "book/review.html" . }}
            </div>
            <div class="book-links-u pure-u-1">
                <div class="pure-g">
                    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1">
                        <div class="p-box">
                            <a class="button-primary button-block pure-button" href="https://www.medimops.de/buecher-C0186606/?fcIsSearch=1&condition=NewItem%2CUsedVeryGood%2CUsedGood%2CUsedAcceptable&searchparam={{ .Params.isbn }}" title="bei medimops.de suchen"><i class="fas fa-leaf" aria-label="bei medimops.de suchen"></i> bei medimops.de suchen</a>
                        </div>
                    </div>
                    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1">
                        <div class="p-box">
                            <a class="button-secondary button-block pure-button" href="https://www.thalia.de/suche?sq={{ .Params.isbn }}" title="bei thalia.de suchen"><i class="fas fa-globe" aria-label="bei thalia.de suchen"></i> bei thalia.de suchen</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pure-u-1">
                {{ $relatedBooks := .Site.RegularPages.Related (dict "document" . "indices" (slice "topics")) | first 4 }}
                {{ with $relatedBooks }}
                <div class="related-card card">
                    <div class="card--header"><i class="card--header--icon fas fa-link"></i> Ähnliche Bücher</div>
                    <div class="card--body">
                        <div class="related-g pure-g">
                            {{ range . }}
                            <div class="pure-u-1-4 pure-u-md-1-8 pure-u-lg-2-24">
                                <a href="{{ .RelPermalink }}">
                                    {{- with partial "book/cover" (dict "isbn" .Params.isbn "coverUri" .Params.coverUri "coversPath" $.Site.Params.books.coversPath) -}}
                                    <img class="cover" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
                                    {{- end -}}
                                </a>
                            </div>
                            <div class="pure-u-3-4 pure-u-md-3-8 pure-u-lg-4-24">
                                <div class="p-box">
                                    <a href="{{ .RelPermalink }}">
                                        {{ .Title }}
                                    </a>
                                    <br>von <em>{{ .Params.author }}</em>
                                </div>
                            </div>
                            {{ end }}
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </main>

{{ end }}