{{ define "main" }}

<main>
    <div class="content">
        <h1>{{ with .Params.Title }}{{ . }}{{ else }}{{ .Section | title }} - {{ .Data.Term | title }}{{ end }}</h1>
    </div>

    <div class="pure-g">
        <div class="pure-u-1 pure-u-lg-1-2">
            <div class="pr-box">
                <div class="content">
                    {{ .Content }}
                </div>
            </div>
        </div>
        <div class="term-list-u pure-u-1 pure-u-lg-1-2">
            {{- $topics := slice -}}
            {{ range .Data.Pages }}
            {{ $topics = $topics | append .Params.topics }}
            {{ end }}

            <div class="awesomplete-combo-group">
                <input
                    placeholder="Thema filtern"
                    aria-label="Thema filtern"
                    list="topics"
                    data-maxitems="{{ $topics | len }}">
                <button class="button-trigger"><i class="fas fa-filter fa-xs"></i></button>
                <button class="button-clear"><i class="fas fa-times fa-xs"></i></button>
                <datalist id="topics">
                    {{- range ($topics | uniq | sort) }}
                    <option value="{{ . | anchorize }}">{{ . }}</option>
                    {{- end }}
                </datalist>
            </div>

            <hr class="ruler-decorated">

            <div class="pure-g cover-g">
                {{ range sort .Data.Pages "Title" }}
                <a
                        class="cover-u pure-u-1-2 pure-u-md-1-4 pure-u-lg-1-3"
                        aria-labelledby="cover-label-{{ .Params.idn }}"
                        href="{{ .Permalink }}"
                        data-topics="{{ range .Params.topics }}{{ . | anchorize }} {{end }}">
                    <figure class="cover-figure">
                        {{- with partial "book/cover" (dict "isbn" .Params.isbn "coverUri" .Params.coverUri "coversPath" $.Site.Params.books.coversPath) -}}
                        <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}">
                        {{- end -}}
                        <figcaption id="cover-label-{{ .Params.idn }}">{{ .Title }} - <em>{{ .Params.author }}</em></figcaption>
                    </figure>
                </a>
                {{ end }}
            </div>

            <hr>
        </div>
    </div>
</main>

{{ $mainJs := resources.Get "js/book-topic-filter.js" | js.Build "book-topic-filter.js" | minify | fingerprint }}
<script src="{{ $mainJs.RelPermalink }}"></script>

{{ end }}