{{ define "main" }}

<main>
    <section>
        <h1 id="section-header">{{ with .Params.Title }}{{ . }}{{ else }}{{ .Section | title }} - {{ .Data.Term | title }}{{ end }}</h1>

        <aside>
            {{- $topics := slice -}}
            {{ range .Pages }}
                {{ with .GetTerms "topics" }}
                    {{ range . }}
                        {{ $topics = $topics | append (dict "link" .RelPermalink "title" .LinkTitle) }}
                    {{ end }}
                {{ end }}
            {{ end }}
            {{ $topics = $topics | uniq }}

            <div class="control-group control-group--awesomplete"
                 data-filter-source=".books__{{ .Data.Term }} .topic__books"
                 data-filter-target=".booklist">
                <input
                        placeholder="Thema filtern"
                        aria-label="Thema filtern"
                        list="topics"
                        data-maxitems="{{ $topics | len }}">
                <button aria-controls="topics"><i class="fas fa-filter fa-xs"></i></button>
                <button type="reset" class="button--last"
                        data-hx-get="{{ .RelPermalink }}"
                        data-hx-select=".booklist"
                        data-hx-target=".booklist"
                        data-hx-swap="outerHTML"><i class="fas fa-times fa-xs"></i></button>
                <datalist id="topics">
                    {{- range (sort $topics "title") }}
                    <option value="{{ .link }}">{{ .title }}</option>
                    {{- end }}
                </datalist>
            </div>

            <hr class="separator separator--decorated">
        </aside>

        {{ with .OutputFormats.Get "json" }}
        <dialog id="random-book-chooser" class="dialog dialog--modal">
            <form>
                <section class="dialog__content dialog__content--centered">
                    <header>
                        <h2 class="dialog__title"></h2>
                        <button class="button pure-button" formmethod="dialog" value="close"><i class="fas fa-times fa-lg"></i></button>
                    </header>

                    <img />
                </section>

                <nav aria-label="Bitte eine Aktion wählen" class="dialog__navigation">
                    <button class="button button--primary pure-button" type="submit">Buch anzeigen</button>
                    <button class="button button--secondary pure-button" value="continue" formmethod="dialog">Anderes Buch wählen</button>
                </nav>
            </form>
        </dialog>
        <button class="button button--primary button--block pure-button"
                data-book-list="{{ .RelPermalink }}"><i class="fas fa-dice"></i> Ein Buch zufällig auswählen</button>
        {{ end }}

        {{ $paginator := .Paginate ( .Pages.ByDate.Reverse ) 24 }}

        <nav class="booklist" aria-labelledby="section-header">
            <div class="booklist__books pure-g">
                {{ range $n, $book := $paginator.Pages }}
                {{ .Scratch.Set "n" $n }}
                {{ .Render "cover-list" }}
                {{ end }}
            </div>

            {{ partial "books/pagination.html" (dict "page" . "format" "default") }}
        </nav>
    </section>
</main>

{{ end }}