{{ define "main" }}

<main>
    {{ partial "breadcrumbs.html" (dict "page" . "showCurrent" "0") }}

    <section>
        <h1 id="section-header">{{ with .Params.Title }}{{ . }}{{ else }}{{ .Section | title }} - {{ .Data.Term | title }}{{ end }}</h1>

        <aside>
            {{- $topics := slice -}}
            {{ range .Pages }}
                {{ with .GetTerms "topics" }}
                    {{ range . }}
                        {{ $topics = $topics | append (dict "link" .RelPermalink "title" .LinkTitle) }}
                    {{ end }}
                {{ end }}
            {{ end }}
            {{ $topics = $topics | uniq }}

            <div class="control-group control-group--awesomplete"
                 data-filter-source=".books__{{ .Data.Term }} .topic__books"
                 data-filter-target=".booklist">
                <input
                        placeholder="Thema filtern"
                        aria-label="Thema filtern"
                        list="topics"
                        data-maxitems="{{ $topics | len }}">
                <button aria-controls="topics"><i class="fas fa-filter fa-xs"></i></button>
                <button type="reset" class="button--last"
                        data-hx-get="{{ .RelPermalink }}"
                        data-hx-select=".booklist"
                        data-hx-target=".booklist"
                        data-hx-swap="outerHTML"><i class="fas fa-times fa-xs"></i></button>
                <datalist id="topics">
                    {{- range (sort $topics "title") }}
                    <option value="{{ .link }}">{{ .title }}</option>
                    {{- end }}
                </datalist>
            </div>

            <hr class="separator separator--decorated">
        </aside>

        {{ $paginator := .Paginate ( .Pages.ByDate.Reverse ) 24 }}

        <nav class="booklist" aria-labelledby="section-header">
            <div class="booklist__books pure-g">
                {{ range $n, $book := $paginator.Pages }}
                {{ .Scratch.Set "n" $n }}
                {{ .Render "cover-list" }}
                {{ end }}
            </div>

            {{ partial "books/pagination.html" (dict "page" . "format" "default") }}
        </nav>
    </section>
</main>

{{ end }}